<p>
            <span th:each="job : ${jobs}">
            	<span th:text="${job}"></span><br/><br/>
            	<!-- position not working and core not working -->
            	<span th:text="${job}"></span><br/><br/>
            	<span th:text="${job.name}"></span><br/><br/>
            	<span th:text="${job.employer}"></span><br/><br/>
            	<span th:text="${job.location}"></span><br/><br/>
                <span th:text="${job}"></span><br/><br/>
                
                
            </span>

        </p>